# Environment Variables & Keys
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# IDE / Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

*.gguf
*.bin
*.safetensors
models/
.venv/
__pycache__/